<header>
    <div ngClass="Header-container">
        <div ngClass="Header-text">
            <div ngClass="Header-title">
                <h1 data-aos="fade-left" data-aos-duration="1000">
                    Hello !
                </h1>
                <h2 data-aos="fade-left" data-aos-duration="2000">
                    I'm <strong>Austin-William Lo</strong>
                </h2>
                <h2>
                    A 4th year student at Epitech Paris.
                </h2>
                <button ngClass="Header-button" onclick="window.location.href='#profil'" data-aos="fade-left" data-aos-duration="2000">
                    Let's start
                </button>
            </div>
        </div>
        <img src="assets/images/picture.png" alt="logo" data-aos="fade-right" data-aos-duration="3000">
    </div>
</header>