<footer id="footer">
    <div ngClass="Footer-container">
        <div ngClass="Footer-title-container">
            <h3 ngClass="Footer-title">
                Thanks for watching my online CV !
            </h3>
            <p ngClass="Footer-description">
                I hope you enjoyed it !
            </p>
        </div>
        <div ngClass="Footer-social-medias">
            <a ngClass="Footer-link" href="https://github.com/Austin-William?tab=repositories" target="_blank">
                <img src="assets/images/github.png" alt="Github">
            </a>
            <a ngClass="Footer-link" href="https://www.linkedin.com/in/austin-william-lo-2a75271a1/" target="_blank">
                <img src="assets/images/linkedin.png" alt="Linkedin">
            </a>
        </div>
    </div>
</footer>