<nav class="navbar">
    <div class="navbar-container">
        <ul id="nav-mobile" class="navbar-list">
            <li>
                <a href="#profile">
                    About me
                </a>
            </li>
            <li>
                <a href="#experiences">
                    Experiences
                </a>
            </li>
            <li>
                <a href="#skills">
                    Skills
                </a>
            </li>
            <li>
                <a href="#activities">
                    Activities
                </a>
            </li>
            <li>
                <a href="#project">
                    Projects
                </a>
            </li>
        </ul>
    </div>
</nav>