<nav ngClass="navbar">
    <div ngClass="navbar-container" id="scrollspy">
        <ul ngClass="navbar-list" mdbScrollspy="scrollspy">
            <li>
                <a href="#profile" mdbScrollspyLink="profile">About me</a>
            </li>
            <li>
                <a href="#experiences">
                    Experiences
                </a>
            </li>
            <li>
                <a href="#skills">
                    Skills
                </a>
            </li>
            <li>
                <a href="#activities">
                    Activities
                </a>
            </li>
            <li>
                <a href="#project">
                    Projects
                </a>
            </li>
        </ul>
    </div>
</nav>