.Experiences {
    background-color: #707070;
}

.Experiences-container {
    padding: 5em;
}

.Experiences-description {
    margin-top: 2em;
}

.Experiences-button {
    height: 11em;
    width: 11em;
    margin-bottom: 2em;
    color: white;
    padding: 0.5em 1em;
    background-color: crimson;
}

.Experiences-button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

@keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
}

.Experiences-img-preview {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    transition: all 0.4s ease;
}

.Experiences-img-preview:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.Experiences-toast {
    width: 150%;
    height: 90%;
}

.Experiences-toast-description {
    font-size: 1.1em;
    margin-top: 1em;
    text-align: justify;
    padding: 0.4em;
}

.Experiences-col {
    margin-bottom: 3.5em;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: aqua;
}

@media (max-width: 768px) {

    .Experiences-container {
        padding: 1em;
    }

    .Experiences-button {
        transform: scale(0.7);
    }
}